@(id: String, dashboardData: Seq[(models.quiz.Skill, Seq[Double])])
<div id="@id" style="width: 600px;height:400px;"></div>
<script>

  (function(){
    var dom = document.getElementById("@id");
    var myChart = echarts.init(dom);
    var app = {};
    var option = null;

    // https://ecomfe.github.io/echarts-examples/public/editor.html?c=boxplot-light-velocity2
    var data = echarts.dataTool.prepareBoxplotData([
      @dashboardData.map( _._2.mkString("[", ",", "]") ).mkString(",\n")
            @*
    [850, 740, 900, 1070, 930, 850, 950, 980, 980, 880, 1000, 980, 930, 650, 760, 810, 1000, 1000, 960, 960],
    [960, 940, 960, 940, 880, 800, 850, 880, 900, 840, 830, 790, 810, 880, 880, 830, 800, 790, 760, 800],
    [880, 880, 880, 860, 720, 720, 620, 860, 970, 950, 880, 910, 850, 870, 840, 840, 850, 840, 840, 840],
    [890, 810, 810, 820, 800, 770, 760, 740, 750, 760, 910, 920, 890, 860, 880, 720, 840, 850, 850, 780],
    [890, 840, 780, 810, 760, 810, 790, 810, 820, 850, 870, 870, 810, 740, 810, 940, 950, 800, 810, 870]
*@

    ], {
        layout: 'vertical'
    });

    // Hello Test

    data.axisData = @{Html(dashboardData.map(_._1.name).mkString("[\"", "\",\"", "\"]"))};

    option = {
        title: [
            {
                text: 'Student Dashboard',
                x: 'center',
            },
            {
                text: 'upper: Q3 + 1.5 * IRQ \nlower: Q1 - 1.5 * IRQ',
                borderColor: '#999',
                borderWidth: 1,
                textStyle: {
                    fontSize: 14
                },
                left: '10%',
                top: '90%'
            }
        ],
        tooltip: {
            trigger: 'item',
            axisPointer: {
                type: 'shadow'
            }
        },
        grid: {
            left: '23%',
            right: '10%',
            bottom: '15%'
        },
        yAxis: {
            type: 'category',
            data: data.axisData,
            boundaryGap: true,
            nameGap: 30,
            splitArea: {
                show: false
            },
            axisLabel: {
                formatter: '{value}'
            },
            splitLine: {
                show: false
            }
        },
        xAxis: {
            type: 'value',
            name: 'percent',
            splitArea: {
                show: true
            }
        },
        series: [
            {
                name: 'boxplot',
                type: 'boxplot',
                data: data.boxData,
                tooltip: {
                    formatter: function (param) {
                        return [
                            'Experiment ' + param.name + ': ',
                            'upper: ' + param.data[5],
                            'Q3: ' + param.data[4],
                            'median: ' + param.data[3],
                            'Q1: ' + param.data[2],
                            'lower: ' + param.data[1]
                        ].join('<br/>')
                    }
                }
            },
            {
                name: 'outlier',
                type: 'scatter',
                data: data.outliers
            }
        ]
    };

    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
  }());
</script>


@*
https://ecomfe.github.io/echarts-examples/public/editor.html?c=boxplot-light-velocity2
https://plot.ly/javascript/box-plots/
*@