@(id: String, dashboardData: Seq[(models.quiz.Skill, Seq[Double])], studentDataOp : Option[Seq[(models.quiz.Skill, Double)]] = None)
<div id="@id" style="width:700px;height:600px;"></div> <!-- https://ecomfe.github.io/echarts-examples/public/editor.html?c=boxplot-light-velocity2 -->
<script>

  (function(){
    var dom = document.getElementById("@id");
    var myChart = echarts.init(dom);
    var app = {};
    var option = null;

    // prepare the main data
    var data = echarts.dataTool.prepareBoxplotData([
      @dashboardData.map(d => com.artclod.collection.rescaleZero2One(d._2).mkString("[", ",", "]") ).mkString(",\n")
    ], {
        layout: 'vertical'
    });

    // override the default prepareBoxplotData axis labels
    data.axisData = @{Html(dashboardData.map(_._1.name).mkString("[\"", "\",\"", "\"]"))};

    option = {
        title: [
            {
                text: 'Student Dashboard',
                x: 'center',
            },
            {
                text: 'upper: Q3 + 1.5 * IRQ \nlower: Q1 - 1.5 * IRQ',
                borderColor: '#999',
                borderWidth: 1,
                textStyle: {
                    fontSize: 14
                },
                left: '10%',
                top: '90%'
            }
        ],
        tooltip: {
            trigger: 'item',
            axisPointer: {
                type: 'shadow'
            }
        },
        grid: {
            left: '23%',
            right: '10%',
            bottom: '15%'
        },
        yAxis: {
            type: 'category',
            data: data.axisData,
            boundaryGap: true,
            nameGap: 30,
            splitArea: {
                show: false
            },
            axisLabel: {
                formatter: '{value}'
            },
            splitLine: {
                show: false
            }
        },
        xAxis: {
            type: 'value',
            name: 'percent',
            splitArea: {
                show: true
            }
        },
        dataZoom: [
            {
                id: 'dataZoomY',
                type: 'slider',
                yAxisIndex: [0],
                filterMode: 'empty'
            }
        ],
        series: [
            {
                name: 'boxplot',
                type: 'boxplot',
                data: data.boxData,
                tooltip: {
                    formatter: function (param) {
                        return [
                            'Experiment ' + param.name + ': ',
                            'upper: ' + param.data[5],
                            'Q3: ' + param.data[4],
                            'median: ' + param.data[3],
                            'Q1: ' + param.data[2],
                            'lower: ' + param.data[1]
                        ].join('<br/>')
                    }
                },
                @for(studentData <- studentDataOp){
                // Mark the student's values
                // https://ecomfe.github.io/echarts-doc/public/en/option.html#series-boxplot.markPoint
                // https://ecomfe.github.io/echarts-doc/public/en/option.html#series-boxplot.markPoint.data.valueIndex
                markPoint: {
                    @* data : [ @{Html(dashboardData.map("{y : .5, x : \"" + _._1.name + "\"}").mkString(","))} ] *@
                    data: [@{Html(studentData.map(d => "{ coord : [" + d._2 + ", '" + d._1.name + "'] }").mkString(","))}],
                    symbol: 'triangle',
                    symbolSize: 5,
                    label: {
                        normal: {show: false},
                        emphasis: {show: false}
                    }
                }
                }
            },
            {
                name: 'outlier',
                type: 'scatter',
                data: data.outliers
            }
        ]
    };

    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
  }());
</script>


