@(course: models.organization.Course)(implicit request: Request[AnyContent])

@import helper._
@import com.artclod.play._
@import controllers.organization.CourseCreate
@import controllers.quiz.QuizCreate

@mainContent("Create a Quiz", tag.courseLink(course)) {
    <h2>Please enter the information about your quiz:</h2>

    <p>
        This quiz is for the course @tag.courseLink(course)
    </p>

    <div id="create-quiz">
    @form(controllers.quiz.routes.QuizController.createSubmit(course.organizationId, course.id), 'class -> "pure-form") {
        <fieldset>
            <!-- name -->
            <label for="@QuizCreate.name">Name: <input type="text" name="@QuizCreate.name" data-bind="text: @QuizCreate.name" placeholder="quiz name"></label> <br>

            <!-- hide -->
            <label for="@QuizCreate.viewHide">Hide:
                <input type="checkbox" name="@QuizCreate.viewHide" value="true"  data-bind="checked: @QuizCreate.viewHide" />
                <input type="hidden"   name="@QuizCreate.viewHide" value="false"/>
            </label> <br>

            <!-- start date -->
            <label for="@QuizCreate.useStartDate">Use Start:
                <input type="checkbox" name="@QuizCreate.useStartDate" value="true"  data-bind="checked: @QuizCreate.useStartDate" />
                <input type="hidden"   name="@QuizCreate.useStartDate" value="false"/>
            </label>
            <label for="@{QuizCreate.startDate}View">Date: <input id="@{QuizCreate.startDate}View" type="datetime-local" name="@{QuizCreate.startDate}View" data-bind="datetimeLocalPicker : @{QuizCreate.startDate}View, enable : @QuizCreate.useStartDate" ></label>
            <input type="hidden" name="@QuizCreate.startDate" data-bind="value : @QuizCreate.startDate" />
            <br>

            <!-- end date -->
            <label for="@QuizCreate.useEndDate">Use End:
                <input type="checkbox" name="@QuizCreate.useEndDate" value="true"  data-bind="checked: @QuizCreate.useEndDate" />
                <input type="hidden"   name="@QuizCreate.useEndDate" value="false"/>
            </label>
            <label for="@{QuizCreate.endDate}View">Date: <input id="@{QuizCreate.endDate}View" type="datetime-local" name="@{QuizCreate.endDate}View" data-bind="datetimeLocalPicker : @{QuizCreate.endDate}View, enable : @QuizCreate.useEndDate"></label>
            <input type="hidden" name="@QuizCreate.endDate" data-bind="value : @QuizCreate.endDate" />
            <br>

            <!-- submit -->
            <input type="submit" class="pure-button pure-button-primary" value="Submit">
            @views.html.helper.CSRF.formField
        </fieldset>
    }
    </div>

    <script>
        var ZE = (function() {
            var now = new Date();
            now.setHours(0, 0, 0, 0); // Quizzes default to a day
            var later = now.plusDays(7);

            var createQuizModel = {
                "@{QuizCreate.name}": ko.observable(""),
                "@{QuizCreate.viewHide}": ko.observable(false),
                // Start Date Values
                "@{QuizCreate.useStartDate}": ko.observable(false),
                "@{QuizCreate.startDate}View": ko.observable(now),
                // End Date Values
                "@{QuizCreate.useEndDate}": ko.observable(false),
                "@{QuizCreate.endDate}View": ko.observable(later)
            };

            createQuizModel.@{QuizCreate.startDate} = ko.computed(function () {
                if(createQuizModel.@{QuizCreate.startDate}View().isValid()) {
                    return createQuizModel.@{QuizCreate.startDate}View().toISOString();
                } else {
                    return null;
                }
            }, createQuizModel);

            createQuizModel.@{QuizCreate.endDate} = ko.computed(function () {
                if(createQuizModel.@{QuizCreate.startDate}View().isValid()) {
                    return createQuizModel.@{QuizCreate.endDate}View().toISOString();
                } else {
                    return null;
                }
            }, createQuizModel);

            // Make sure the end date is always after the start date
            createQuizModel.@{QuizCreate.startDate}View.subscribe(function(newValue) {
                if(createQuizModel.@{QuizCreate.startDate}View() >= createQuizModel.@{QuizCreate.endDate}View()) {
                    createQuizModel.@{QuizCreate.endDate}View(createQuizModel.@{QuizCreate.startDate}View().plusDays(1));
                }
            });

            // Make sure the start date is always before the end date
            createQuizModel.@{QuizCreate.endDate}View.subscribe(function(newValue) {
                if(createQuizModel.@{QuizCreate.endDate}View() <= createQuizModel.@{QuizCreate.startDate}View()) {
                    createQuizModel.@{QuizCreate.startDate}View(createQuizModel.@{QuizCreate.endDate}View().plusDays(-1));
                }
            });

            ko.applyBindings(createQuizModel, document.getElementById("create-quiz"));

            return { viewModel : createQuizModel };
        }());
    </script>
}