@import helper._
@import com.artclod.play._
@import controllers.organization.CourseCreate
@import controllers.quiz.QuizRename

@(access: models.Access,
        course: models.organization.Course,
        quiz: models.quiz.Quiz,
        questionFrame: models.quiz.QuestionFrame,
        answer: controllers.quiz.AnswerJson,
        previousAnswers: Seq[models.quiz.Answer]
)(implicit request: Request[AnyContent], user: models.user.User)

@mainContent("Quiz " + quiz.name, tag.courseLink(course), tag.courseQuizLink(course, quiz, None)) {
    <h2>Welcome to a question page for quiz: @quiz.name </h2>

    @views.html.quiz.question.answerEditor(
        controllers.quiz.routes.AnswerController.createCourseSubmit(course.organizationId, course.id, quiz.id, questionFrame.question.id),
        questionFrame,
        answer)

    @if(access >= models.Edit) {
        <ul class="pure-list">
        @for(skill <- questionFrame.skills){
            <li>@skill.name</li>
        }
        </ul>
    }

    @if(previousAnswers.nonEmpty){
        <h4>Previous Answers</h4>
        <table class="pure-table pure-table-striped">
        <tr>
            <th>Attempt</th>
            <th>Correct</th>
            <th>Date</th>
        </tr>
        @for(answerAndIndex <- previousAnswers.zipWithIndex) {
        @defining( controllers.quiz.routes.QuestionController.view(course.organizationId, course.id, quiz.id, questionFrame.question.id, Some(answerAndIndex._1.id)) ) {  call : Call  =>
        <tr>
            <td>@tag.cellLink(call){ @answerAndIndex._2 }</td>
            <td>@tag.cellLink(call){ @tag.correctIcon(answerAndIndex._1.correct) }</td>
            <td>@tag.cellLink(call){ @tag.datetime(answerAndIndex._1.creationDate) }</td>
        </tr>
        }
        }
        </table>
    }
}