@(access: models.Access,
        course: models.organization.Course,
        quiz: models.quiz.Quiz,
        questionFrame: models.quiz.QuestionFrame,
        answer: controllers.quiz.AnswerJson)(implicit request: Request[AnyContent])

@import helper._
@import com.artclod.play._
@import controllers.organization.CourseCreate
@import controllers.quiz.QuizRename

@mainContent("Quiz " + quiz.name, tag.courseLink(course)) {
    <h2>Welcome to a question page for quiz: @quiz.name </h2>

    @views.html.quiz.question.answerEditor(
        controllers.quiz.routes.AnswerController.createCourseSubmit(course.organizationId, course.id, quiz.id, questionFrame.question.id),
        questionFrame,
        answer)
}