@(access: models.Access,
        course: models.organization.Course,
        quiz: models.quiz.Quiz,
        questions: Seq[models.quiz.Question])(implicit request: Request[AnyContent])

@import helper._
@import com.artclod.play._
@import controllers.organization.CourseCreate
@import controllers.quiz.QuizRename

@mainContent("Quiz " + quiz.name, tag.courseLink(course)) {
    <h2>Welcome to the page for quiz: @quiz.name </h2>

    <h4>There @are(questions) @questions.size Question@s(questions) in the quiz @tag.icon("icon-help", 'data_ot -> "Click a question to answer it")</h4>

    <table class="pure-table pure-table-striped">
        <tr>
            <th>Question</th>
        </tr>
        @for(question <- questions){<tr>
            <td> @tag.courseQuestionLink(course, quiz, question, None) </td>
        </tr>}
    </table>


    @if(access.write){
        @form(controllers.quiz.routes.QuizController.rename(course.organizationId, course.id, quiz.id), 'class -> "pure-form") {
            To rename type a new name here <input type="text" name="@QuizRename.name" value="@quiz.name">
            and click <input class="pure-button" type="submit" value="rename" >
            @views.html.helper.CSRF.formField
        }
    }

    @if(access.write){
        @views.html.quiz.question.questionEditor(controllers.quiz.routes.QuestionController.createCourseSubmit(course.organizationId, course.id, quiz.id))
    }
}