@(organization: models.organization.Organization, course: models.organization.Course, access: models.Access, quizzes: Seq[(models.organization.Course2Quiz, models.quiz.Quiz)])(implicit request: Request[AnyContent])

@import com.artclod.slick.JodaUTC
@import com.artclod.play._
@import views.html.tag._
@import com.artclod.play._
@import helper._
@import models.AccessName.an
@import models.Access._
@import controllers.organization.CourseJoin
@import org.joda.time.DateTime

    <h2>Welcome to the information page for the course: @course.name</h2>
    @* ======= Role ======= *@
    @if(access > Non) {
        <section>
            <h5> You are assigned to this course as @an(access) </h5>
        </section>
    }
    @* ======= Access Codes ======= *@
    @if(access >= Edit) {
        <section>
            <h5> Teacher Access Code: @course.editCode </h5>
            <h5> Student Access Code: @course.viewCode.getOrElse("Open Course") </h5>
        </section>
    }
    @* ======= Sign up ======= *@
    @if(access <= Non) {
        <section>
        @if(course.anyStudent){

            <h5> This course has open student enrollment. If you need to sign up as a student click below: </h5>
            @form(action = controllers.organization.routes.CourseController.join(course.organizationId, course.id), 'class -> "pure-form") {
                <input type="hidden" name="@CourseJoin.code" value="dummy-value">
                <input type="submit" class="pure-button pure-button-primary" value="Sign Up as a Student">
                @views.html.helper.CSRF.formField
            }

            <h5> If you need to sign up as a teacher please input your code here: </h5>
            @form(action = controllers.organization.routes.CourseController.join(course.organizationId, course.id), 'class -> "pure-form") {
                <input type="text" name="@CourseJoin.code" placeholder="code goes here">
                <input type="submit" class="pure-button pure-button-primary" value="Submit">
                @views.html.helper.CSRF.formField
            }

        } else {

            <h5> If you need to sign up please input your code here: </h5>
            @form(action = controllers.organization.routes.CourseController.join(course.organizationId, course.id), 'class -> "pure-form") {
                <input type="text" name="@CourseJoin.code" placeholder="code goes here">
                <input type="submit" class="pure-button pure-button-primary" value="Submit">
                @views.html.helper.CSRF.formField
            }

        }
        </section>
    }

    @* >>>>> Start Access > Non *@
    @if(access > Non) {

        @* ======= Quizzes ======= *@
        @defining(JodaUTC.now){ now : DateTime =>
        <section>
            @if(quizzes.filter(_._1.show(access)).isEmpty) {
                <h5> There are no available quizzes for this course </h5>
            } else {
                <h5> The course has the following quiz@zes(quizzes): </h5>
                <table class="pure-table pure-table-striped">
                    <tr>
                        <th> Quiz </th>
                        <th> Start Date </th>
                        <th> End Date </th>
                        @if(access.write){<th> Remove </th>}
                    </tr>
                @for(quiz <- quizzes) {
                    @if(quiz._1.show(access)){
                    <tr>
                        <td> @if(quiz._1.isValidTime(access, now)){@tag.courseQuizLink(course, quiz._2, None)}else{@quiz._2.name} </td>
                        <td> @quiz._1.startDate.map(tag.datetime(_)).getOrElse(Html("")) </td>
                        <td> @quiz._1.endDate.map(tag.datetime(_)).getOrElse(Html("")) </td>
                        @if(access >= Edit) {
                            <td>
                            @form(controllers.quiz.routes.QuizController.remove(course.organizationId, course.id, quiz._2.id), 'class -> "pure-form") {
                                <input class="pure-button" type="submit" value="remove" > @views.html.helper.CSRF.formField
                            }
                            </td>
                        }
                    </tr>
                    }
                }
                </table>
            }
            @if(access.write) { <a href="@controllers.quiz.routes.QuizController.createForm(course.organizationId, course.id)" class="pure-button"> add a quiz</a> }
        </section>
        }
    }
    @* <<<<< Close Access > Non *@

