@import com.artclod.slick.JodaUTC
@import com.artclod.play._
@import views.html.tag._
@import com.artclod.play._
@import helper._
@import models.AccessName.an
@import models.Access._
@import controllers.organization.CourseJoin

@(org: models.organization.Organization,
  course: models.organization.Course,
  access: models.Access,
  quizzes: Seq[(models.organization.Course2Quiz, models.quiz.Quiz)],
  students: Seq[models.user.User],
  dashboardData: Seq[(models.quiz.Skill, Seq[Double])]
)(implicit request: Request[AnyContent], user: models.user.User)

@mainContent(course.name, tag.organizationLink(org), tag.courseSelfQuizLink(course)) {
    @views.html.organization.courseViewCore(org, course, access, quizzes)

    @* ======= Student List and Dashboard ======= *@
    <section>
    @if(students.isEmpty) {
        <h5> There are no students enrolled in this course </h5>
    } else {
        <h5> The course has the following student@s(students): </h5>
        <table class="pure-table pure-table-striped">
            <tr>
                <th> Name </th>
            </tr>
            @for(student <- students) {
            <tr>
                <td> <a class="pure-button" href="@controllers.organization.routes.CourseController.studentSummary(course.organizationId, course.id, student.id)")>@student.name</a>  </td>
            </tr>
            }
        </table>
    }
    </section>

    @chart.dash("dashboard", dashboardData, None)
}