@import helper._
@import com.artclod.play._
@import controllers.organization.CourseCreate
@import controllers.quiz.QuizRename

@(access: models.Access,
        course: models.organization.Course,
        questionFrame: models.quiz.QuestionFrame,
        answer: controllers.quiz.AnswerJson,
        previousAnswers: Seq[models.quiz.Answer]
)(implicit request: Request[AnyContent], user: models.user.User)

@mainContent("Self Question for " + course.name, tag.courseLink(course), tag.courseLink(course)) {
    <h2>Welcome to the self quiz page for course: @course.name </h2>

    @views.html.quiz.question.answerEditor(
        controllers.quiz.routes.AnswerController.createSelfQuizCourseSubmit(course.organizationId, course.id, questionFrame.question.id),
        user,
        questionFrame,
        answer)

    @if(access >= models.Edit) {
        <ul>
        @for(skill <- questionFrame.skills){
            <li>@skill.name</li>
        }
        </ul>
    }

    @views.html.quiz.question.previousAnswers( (id: AnswerId) =>
        controllers.organization.routes.CourseController.studentSelfQuestion(course.organizationId, course.id, questionFrame.question.id, Some(id)), previousAnswers )

}