@import "flexbox/flexbox.less";
@import "utils/css-transforms";

@white: #FFFFFF;
@light: #B0E4F7; // #0086C2;
@medium: #3E95CD;
@dark: #17699D;

@student-points-color: yellow;
@teacher-points-color: orange;

.primary-content {
  padding: 1em 1em 1em 1em;
}

.secondary-content {
  padding: .5em .5em .5em .5em;
}

.secondary-content-bordered {
  border-radius: 2em;
  padding: .5em .5em .5em .5em;
  border-style: solid;
  border-color: @medium;
  border-width: medium;
}

// GENERAL STYLING =====================
.height-100 { //https://stackoverflow.com/questions/7357818/100-screen-height-css
  height: 100%;
}

.warning {
  color: red;
}

.pure-skin-calctutor ul.pure-list {
  list-style-type: circle;
  list-style: none;
}

.pure-skin-calctutor ul.pure-list li { padding: .1em 0em; }

.extra-border {
  margin: 1.5em;
}

// GRID LAYOUTS =====================


// --- Just a box pages ----
.boxed-grid-class {
  background-color : @medium
}

.boxed-content-class {
  background-color : @white;
  border-radius: 25px;
  padding: 25px 25px 25px 25px
}

#boxed-grid-id {
//  grid-template-columns: auto 300px auto;
//  grid-template-rows: auto 500px auto;
  display: grid;
  //grid-template-columns: 1fr 1fr 1fr;
  //grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 250px 1fr;
  grid-template-rows: 1fr 400px 1fr;

  grid-template-areas:
  ". . ."
  ".  content ."
  ". . .";
}

#boxed-content-id {
  grid-area: content;
}


