@(title: String)(content: Html)
<!DOCTYPE html>

<html class="height-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>@title</title>

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")" />

        @imports()
    </head>
    <body class="height-100">
        <div id="boxed-grid-id" class="boxed-grid-class height-100">
            <section id="boxed-content-id" class="boxed-content-class">
            @content
            </section>
        </div>
    </body>
</html>