@()
  <!-- Stylesheets -->
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")" />
  <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/purebuild/pure-skin.css")" />
  <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/pure/1.0.0/pure-min.css")" />
  <link rel="stylesheet" href="@routes.Assets.versioned("fonts/icomoon/style.css")" type="text/css" />
  <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/modal/modal.css")" type="text/css" />

  <!-- General JS helpers -->
  <script src="@routes.Assets.versioned("javascripts/jquery/jquery-3.2.1.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("javascripts/underscore/underscore-min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("javascripts/moment.min.js")" type="text/javascript"></script>

  <!-- math.js and ln add -->
  <script src="@routes.Assets.versioned("javascripts/mathjs/math.js")" type="text/javascript"></script>
  <script> math.import({ln: math.log}); </script> <!-- add ln as a function to math-js -->

  <!-- Custom scripts -->
  <script src="@routes.Assets.versioned("javascripts/artclod/artclod-onload.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("javascripts/artclod/artclod-mathjax.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("javascripts/artclod/artclod-mathjs.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("javascripts/artclod/artclod-poly-zone.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("javascripts/artclod/artclod-localize.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("javascripts/artclod/artclod-percent.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("javascripts/artclod/artclod-math-js-jax.js")" type="text/javascript"></script> <!-- this must be loaded after the other artclod scripts-->
  <script src="@routes.Assets.versioned("javascripts/calctutor/calctutor-mathjs.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("javascripts/artclod/artclod-trim-polyfill.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("javascripts/artclod/artclod-replaceAll-polyfill.js")" type="text/javascript"></script>

  <!-- Function Graphing Library -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jsxgraph/0.99.3/jsxgraphcore.js" type="text/javascript"></script>

  <!-- knockout files placed together -->
  <script src="@routes.Assets.versioned("javascripts/knockout/knockout-3.4.2.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("javascripts/knockout/knockout.mapping-2.4.1.min.js")" type="text/javascript"></script>

  <!-- opentip related files placed together -->
  <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/opentip/opentip.css")" type="text/css" />
  <script src="@routes.Assets.versioned("javascripts/opentip/opentip-jquery.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("javascripts/opentip/opentip-styles.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("javascripts/artclod/artclod-opentip.js")" type="text/javascript"></script>

  <!-- MathJax including Content MathML extension and CSS fix-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/mathjax/mathjax-override.css")" /> <!-- override some odd mathjax css defaults -->



