@import helper._
@import com.artclod.play._
@import controllers.quiz.AnswerCreate
@import controllers.quiz.AnswerCreate.answerFormat
@import controllers.quiz.AnswerCreate.choiceIndex
@import controllers.quiz.AnswerCreate.functionRaw
@import controllers.quiz.AnswerCreate.sequenceStr
@import controllers.quiz.AnswerCreate.correct
@import controllers.quiz.AnswerJson.correctUnknown
@import controllers.quiz.AnswerJson.correctNo
@import controllers.quiz.AnswerJson.correctBlank
@import com.artclod.util.OneOfThree
@import com.artclod.util.ofthree._


@(action: play.api.mvc.Call, questionFrame: models.quiz.QuestionFrame, answerJson : controllers.quiz.AnswerJson, mathJsParser: String = "ARTC.mathJS.defaultParser")(implicit request: Request[AnyContent])

<section id="answer-editor">

    <h4> Answer the question section@s(questionFrame.sections). When you are done hit the "Answer" Button: </h4>

    <div class="warning" data-bind="visible : @{correct}() == @{controllers.quiz.AnswerJson.correctUnknown}"> Sorry the system was unable to determine if this answer was correct, please try again </div>
    <div class="warning" data-bind="visible : @{correct}() == @{controllers.quiz.AnswerJson.correctNo}"> Sorry some (or all) of the parts of this answer were incorrect, please try again </div>
    <div class="indicate-correct" data-bind="visible : @{correct}() == @{controllers.quiz.AnswerJson.correctYes}"> Congratulations this answer was correct </div>

    <div class="answer-header">
        <div class="item answer-title"> <h5> @questionFrame.question.title </h5> </div>
        <div class="item answer-description"> @questionFrame.question.descriptionHtml </div>

        @* ===== START SECTION ==== *@
        @for(sectionFrame <- questionFrame.sections.zipWithIndex) {
        @defining("$root." + AnswerCreate.sections + "()[" + sectionFrame._2 + "]") { viewModelSec : String =>
        <div class="span-answer-header answer-section">

            <div class="item answer-explanation"> @sectionFrame._1.section.explanationHtml @tag.lastAnswerPieceWas(viewModelSec + "." + correct + "()") </div>
            @* ===== START PARTS ==== *@
            @sectionFrame._1.parts match {

            case First(parts) => { @for(part <- parts.zipWithIndex) {
            <div class="span-section answer-choice">
                <div class="item answer-choice-select"> <input type="radio" name="@{"s"+sectionFrame._2}" id="@{"s"+sectionFrame._2+"c"+part._2}" value="@part._2" data-bind="checked: @{viewModelSec}.choiceIndexString"> </div>
                <div class="item answer-choice-summary"> @part._1.summaryHtml </div>
            </div>
            } }

            case Second(parts) => { @for(part <- parts.zipWithIndex) {
            @defining(viewModelSec + "." + AnswerCreate.functions + "()[" + part._2 + "]") { viewModelFunc : String =>
            <div class="span-section answer-function">
                <div class="item answer-function-summary"> @part._1.summaryHtml </div>
                <div class="item answer-function-input">
                    @{tag.isValid(viewModelFunc + ".invalid()")} <input data-bind="textInput: @{viewModelFunc}.@{functionRaw}" /> <span data-bind="attr: { 'id' : @{viewModelFunc}.id }"></span> @tag.lastAnswerPieceWas(viewModelFunc + "." + correct + "()")
                </div>
            </div>
            } } }

            case Third(parts) => { @for(part <- parts.zipWithIndex) {
            @defining(viewModelSec + "." + AnswerCreate.sequences + "()[" + part._2 + "]") { viewModelSeq : String =>
            <div class="span-section answer-sequence">
                <div class="item answer-sequence-summary"> @part._1.summaryHtml </div>
                <div class="item answer-sequence-input">
                    @{tag.isValid(viewModelSeq + ".invalid()")} <input data-bind="textInput: @{viewModelSeq}.@{sequenceStr}" /> @*<span data-bind="attr: { 'id' : @{viewModelFunc}.id }"></span>*@ @tag.lastAnswerPieceWas(viewModelSeq + "." + correct + "()")
                </div>
            </div>
            } } }

            }
            @* ===== END PARTS ==== *@
        </div>
        } }
        @* ===== END SECTION ==== *@
    </div>


    @form(action, 'id -> "answerJsonForm", 'class -> "pure-form") {
    <fieldset>
        <input type="hidden" name="@AnswerCreate.answerJson" id="answerJson">
        <input type="button" class="pure-button" value="Answer" onclick="answerJsonFormSubmit()">
        @views.html.helper.CSRF.formField
    </fieldset>
    }

    <script>
        answerJsonFormSubmit = function() {
            if(AE.viewModel.invalid()) {
                window.alert("There are errors in the inputs, look for red *");
            } else {
                $("#answerJson").val(ko.mapping.toJSON(AE.viewModel));
                $("#answerJsonForm").submit();
            }
        }
    </script>
</section>

<script type="text/javascript">


    // === The Answer Enhance Module ===
    // it knows how to enhance the view model with the MathJAX computations/displays etc
    var AE = function() {
        // Get the raw data into a var
        var data = @Html(answerFormat.writes(answerJson).toString)

        // Turn it into a view model
        var viewModel = ko.mapping.fromJS(data);

        var enhanceFunctionPart = function(part, si, pi) {
            // Create an id for this part
            part.id = "s" + si + "f" + pi;

            part.invalid = ko.observable(true); // will be updated by subscribe below
            // Set up the mathjax updates
            var func = part.@{AnswerCreate.functionRaw};
            func.subscribe(function (newValue) {
                var mathResult = @{mathJsParser}(newValue);
                if(mathResult.success) {
                    ARTC.mathJax.updateById(part.id, ARTC.mathJax.tex(mathResult.node.toTex()));
                    part.@{AnswerCreate.functionMath}(mathResult.content);
                }
                part.invalid(!mathResult.success);
            });

            // Force an update for part.invalid
            func.valueHasMutated();
        }

        var enhanceSequencePart = function(part, si, pi) {
            // Create an id for this part
            part.id = "s" + si + "s" + pi;

            part.invalid = ko.observable(true); // will be updated by subscribe below
            // Set up the mathjax updates
            var sequ = part.@{AnswerCreate.sequenceStr};
            sequ.subscribe(function (newValue) {
                var result = ARTC.string2Numbers(newValue);
                part.invalid(!result.success);
            });

            // Force an update for part.invalid
            sequ.valueHasMutated();
        }

        var enhanceSection = function(section, si) {
            // Create an id for this section
            section.id = "s" + si;

            // Radio buttons use strings but we want the value as a number
            section.choiceIndexString = ko.pureComputed({
                read: function () {
                    return section.@{choiceIndex}().toString();
                },
                write: function (value) {
                    section.@{choiceIndex}(parseInt(value));
                }
            });

            for (var pi = 0; pi < section.@{AnswerCreate.functions}().length; pi++) {
                var partModel = section.@{AnswerCreate.functions}()[pi];
                enhanceFunctionPart(partModel, si, pi);
            }

            for (var pi = 0; pi < section.@{AnswerCreate.sequences}().length; pi++) {
                var partModel = section.@{AnswerCreate.sequences}()[pi];
                enhanceSequencePart(partModel, si, pi);
            }

            section.invalid = ko.computed(function () {
                var fncInvalid = _.map(section.@{AnswerCreate.functions}(), function(a){return a.invalid();}).reduce(function(a,b){return a || b;}, false);
                var seqInvalid = _.map(section.@{AnswerCreate.sequences}(), function(a){return a.invalid();}).reduce(function(a,b){return a || b;}, false);
                return fncInvalid || seqInvalid;
            });
        }

        var enhanceMain = function(main) {
            for (var si = 0; si < main.@{AnswerCreate.sections}().length; si++) {
                var sectionModel = main.@{AnswerCreate.sections}()[si];
                enhanceSection(sectionModel, si);
            }

            main.invalid = ko.computed(function () {
                return _.map(main.@{AnswerCreate.sections}(), function(a){return a.invalid();}).reduce(function(a,b){return a || b;}, false);
            });
            return main;
        }

        var AE = {};
        AE.enhanceMain = enhanceMain;
        AE.viewModel = enhanceMain(viewModel);
        return AE;
    }();

    // then applying bindings
    ko.applyBindings(AE.viewModel, document.getElementById("answer-editor"));
</script>
