@(action: play.api.mvc.Call, initialDataModel: Option[String] = None, mathJsParser: String = "ARTC.mathJS.defaultParser")(implicit request: Request[AnyContent])

@import helper._
@import controllers.quiz.QuestionCreate

<section id="question-editor">

    <h4> Build a question. When you are done hit "Save Question": </h4>

    <div class="question-header">

        <div class="item title-input"> Question Title @tag.isValid("titleInvalid") : <input data-bind="textInput: @QuestionCreate.title" /> </div>
        <div class="item title-output"> <span data-bind="html: @QuestionCreate.title"> </span> </div>
        <div class="item description-input"> Question Description @tag.isValid("descriptionInvalid") : <br> <textarea type="text" class="expanding" data-bind="textInput: @QuestionCreate.descriptionRaw"></textarea> </div>
        <div class="item description-output"> <span data-bind="html: @QuestionCreate.descriptionHtml"> </span> </div>
        <div class="item add-section"> <a href='#' data-bind='click: QE.addSection' class="pure-button">Add Section</a> </div>

        <!-- ko foreach: @QuestionCreate.sections -->
        <div class="span-header question-section">
            <div class="item explanation-input"> Explanation @tag.isValid("explanationInvalid") : <br> <textarea type="text" class="expanding" data-bind="textInput: @QuestionCreate.explanationRaw"></textarea> </div>
            <div class="item explanation-output"> <span data-bind="html: @QuestionCreate.explanationHtml"> </span> </div>
            <div class="item section-controls">
                <a href='#' data-bind='click: function(data, event) { QE.removeSection($parent, data) }' class="pure-button">Remove This Section</a>
                <input type="radio" value="choice"  data-bind="name: @QuestionCreate.id, checked: @QuestionCreate.choiceOrFunction" class="pure-radio" /> choice </input>
                <input type="radio" value="function" data-bind="name: @QuestionCreate.id, checked: @QuestionCreate.choiceOrFunction" class="pure-radio" /> function </input>
                <a href='#' data-bind='click: QE.addChoicePart' class="pure-button">Add Choice</a>
                <a href='#' data-bind='click: QE.addFunctionPart' class="pure-button">Add Function</a>
            </div>

            <!-- ko if: @{QuestionCreate.choiceOrFunction}() == 'choice' -->
            <!-- ko foreach: @QuestionCreate.choices -->
            <div class="span-section question-choice">
                <div class="item summary-input"> Summary @tag.isValid("invalid"): <br> <textarea type="text" class="expanding" data-bind="textInput: @QuestionCreate.summaryRaw"></textarea> </div>
                <div class="item summary-output"> <span data-bind="html: @QuestionCreate.summaryHtml"> </span> </div>
                <div class="item choice-correct"> <input type="radio" data-bind="name: $parent.@QuestionCreate.id, value: $index, checked: $parent.@QuestionCreate.correctChoiceIndex, text: $parent.@QuestionCreate.id"> Correct </input> </div>
                <div class="item choice-controls"> <a href='#' data-bind='click: function(data, event) { QE.removeChoicePart($parent, data) }' class="pure-button">Remove This Part</a> </div>
            </div>
            <!-- /ko -->
            <!-- /ko -->

            <!-- ko if: @{QuestionCreate.choiceOrFunction}() == 'function' -->
            <!-- ko foreach: @QuestionCreate.functions -->
            <div class="span-section question-function">
                <div class="item summary-input"> Summary @tag.isValid("summaryInvalid"): <br> <textarea type="text" data-bind="textInput: @QuestionCreate.summaryRaw"></textarea> </div>
                <div class="item summary-output"> <span data-bind="html: @QuestionCreate.summaryHtml"> </span> </div>
                <div class="item function-input"> Function @tag.isValid("functionInvalid") : <input data-bind="textInput: @QuestionCreate.functionRaw" /> </div>
                <div class="item function-output"><span data-bind="attr: { 'id' : @QuestionCreate.id }"> </span> </div>
                <div class="item function-controls"><a href='#' data-bind='click: function(data, event) { QE.removeFunctionPart($parent, data) }' class="pure-button">Remove This Part</a> </div>
            </div>
            <!-- /ko -->
            <!-- /ko -->

        </div>
        <!-- /ko -->

    </div>

    @form(action, 'id -> "questionJsonForm", 'class -> "pure-form") {
        <fieldset>
            <input type="hidden" name="@QuestionCreate.questionJson" id="questionJson">
            <input type="button" class="pure-button" value="Save Question" onclick="questionJsonFormSubmit()">
            @views.html.helper.CSRF.formField
        </fieldset>
    }
    <script>
        questionJsonFormSubmit = function() {
            if(QE.viewModel.invalid()) {
                window.alert("There are errors in the inputs, look for red *");
            } else {
                $("#questionJson").val(ko.mapping.toJSON(QE.viewModel));
                $("#questionJsonForm").submit();
            }
        }
    </script>
</section>

<script type="text/javascript">

        var QE = function() { // The Question Editor Knockoutjs support Module
            var QE = {}; // Public functions/fields will be added to this

            var callIfValid = function(obj, func) {
                return (func in obj) ? obj[func]() : true;
            }

            // =================================================
            // ============ Choice Part Enhancement ============
            // =================================================
            var choicePartId = function (section, num) {
                return section.@QuestionCreate.id + "c" + num;
            }

            var enhanceChoicePart = function (section, part, num) {
                part.@QuestionCreate.id = choicePartId(section, num); // Note here we overwrite the id

                // Overwrite/Bind the html summary
                part.@QuestionCreate.summaryHtml = ko.computed(function () {
                    return ARTC.markdown(part.@QuestionCreate.id, part.@{QuestionCreate.summaryRaw}());
                }, part);

                // Do we have a summary?
                part.invalid = ko.computed(function () {
                    return part.@{QuestionCreate.summaryRaw}() == "";
                });
            }

            QE.removeChoicePart = function(section, part) {
                var parts = section.@{QuestionCreate.choices};
                parts.remove(function (p) {
                    return p.id === part.id;
                });
            }

            // ===================================================
            // ============ Function Part Enhancement ============
            // ===================================================
            var functionPartId = function (section, num) {
                return section.@QuestionCreate.id + "f" + num;
            }

            var enhanceFunctionPart = function (section, part, num) {
                part.@QuestionCreate.id = functionPartId(section, num); // Note here we overwrite the id

                // Overwrite/Bind the html summary
                part.@QuestionCreate.summaryHtml = ko.computed(function () {
                    return ARTC.markdown(part.@QuestionCreate.id, part.@{QuestionCreate.summaryRaw}());
                }, part);

                // Do we have a summary?
                part.summaryInvalid = ko.computed(function () {
                    return part.@{QuestionCreate.summaryRaw}() == "";
                });

                // Update the math display & value (and validity)
                part.functionInvalid = ko.observable( true ); // This will be updated manually by subscribe below
                var func = part.@{QuestionCreate.functionRaw};
                func.subscribe(function (newValue) {
                    var mathResult = @{mathJsParser}(newValue);
                    if(mathResult.success) {
                        ARTC.mathJax.updateById(part.@QuestionCreate.id, ARTC.mathJax.tex(mathResult.node.toTex()));
                        part.@{QuestionCreate.functionMath}(mathResult.content);
                    }
                    part.functionInvalid(!mathResult.success);
                });

                part.invalid = ko.computed(function () {
                    return part.summaryInvalid() || part.functionInvalid()  ;
                });

                // Force an update for part.functionInvalid
                func.valueHasMutated();
            }

            // Remove this part
            QE.removeFunctionPart = function (section, part) {
                var parts = section.@{QuestionCreate.functions};
                parts.remove(function (p) {
                    return p.id === part.id;
                });
            }

            // =============================================
            // ============ Section Enhancement ============
            // =============================================
            var sectionId = function (num) {
                return "sec" + (num);
            }

            // Adds functions etc to a Section View Model
            var enhanceSection = function (main, section, num) {
                section.choiceIdGenerator = section.@{QuestionCreate.choices}.length;
                section.functionIdGenerator = section.@{QuestionCreate.functions}.length;

                // Set the id for consistency
                section.@QuestionCreate.id = sectionId(num); // Note here we overwrite the id

                // --- Start Update Parts ---
                // Update any existing Choice Parts (ie make sure they are enhanced)
                for (var i = 0; i < section.@{QuestionCreate.choices}().length; i++) {
                    enhanceChoicePart(section, section.@{QuestionCreate.choices}()[i], i);
                }

                // Update any existing Function Parts (ie make sure they are enhanced)
                for (var i = 0; i < section.@{QuestionCreate.functions}().length; i++) {
                    enhanceFunctionPart(section, section.@{QuestionCreate.functions}()[i], i);
                }
                // --- End Update Parts ---

                // Overwrite/Bind the html explanation
                section.@QuestionCreate.explanationHtml = ko.computed(function () {
                    return ARTC.markdown(section.@QuestionCreate.id, section.@{QuestionCreate.explanationRaw}());
                }, section);


                section.explanationInvalid = ko.computed(function () {
                    return section.@{QuestionCreate.explanationRaw}() == "";
                });

                section.invalid = ko.computed(function () {
                    var explanationInvalid = section.explanationInvalid();
                    var choicesInvalid   = _.map(section.@{QuestionCreate.choices}(),   function(a){return a.invalid();}).reduce(function(a,b){return a || b;}, explanationInvalid);
                    var functionsInvalid = _.map(section.@{QuestionCreate.functions}(), function(a){return a.invalid();}).reduce(function(a,b){return a || b;}, explanationInvalid);

                    if(section.@{QuestionCreate.choiceOrFunction}() == "@QuestionCreate.choice") {
                        return choicesInvalid;
                    } else {
                        return functionsInvalid;
                    }
                });
            }

            // --- Start Add new parts ----
            // add new choice part
            QE.addChoicePart = function (section) {
                var choiceId = choicePartId(section, section.choiceIdGenerator++); // note this increments the idGenerator

                var newChoice = ko.mapping.fromJS({
                    @QuestionCreate.summaryRaw  : "",
                    @QuestionCreate.summaryHtml : ARTC.markdown(choiceId, "")
                } );

                enhanceChoicePart(section, newChoice, section.choiceIdGenerator);

                var chs = section.@{QuestionCreate.choices};
                chs.push(newChoice);
            }

            // add new function part
            QE.addFunctionPart = function(section) {
                var functionId = functionPartId(section, section.functionIdGenerator++); // note this increments the idGenerator

                var newFunction = ko.mapping.fromJS({
                    @QuestionCreate.summaryRaw   : "",
                    @QuestionCreate.summaryHtml  : ARTC.markdown(functionId, ""),
                    @QuestionCreate.functionRaw  : "",
                    @QuestionCreate.functionMath : ""
                } );

                enhanceFunctionPart(section, newFunction, section.functionIdGenerator);

                var funcs = section.@{QuestionCreate.functions};
                funcs.push(newFunction);
            }
            // --- End Add new parts ----

            // Remove a section
            QE.removeSection = function(main, section) {
                var sections = main.@{QuestionCreate.sections};
                sections.remove(function (s) {
                    return s.id === section.id;
                });
            }

            // ==========================================
            // ============ Root Enhancement ============
            // ==========================================

            // Function to create a new section
            QE.addSection = function(main) {
                var secId = sectionId(main.idGenerator++); // note this increments the idGenerator
                var newSection = ko.mapping.fromJS({
                    @QuestionCreate.explanationRaw     : "",
                    @QuestionCreate.explanationHtml    : ARTC.markdown(secId, ""),
                    @QuestionCreate.choiceOrFunction   : "@QuestionCreate.choice",
                    @QuestionCreate.correctChoiceIndex : 0,
                    @QuestionCreate.choices            : [],
                    @QuestionCreate.functions          : []
                });
                enhanceSection(main, newSection, main.idGenerator);
                var secs = main.@{QuestionCreate.sections}
                secs.push(newSection);
            }

            // Adds functions to the Root of the Question View Model
            var enhanceMain = function (main) {
                // Each sections needs a unique id
                main.idGenerator = main.@{QuestionCreate.sections}.length;

                // Enhance any existing Sections
                for (var i = 0; i < main.@{QuestionCreate.sections}().length; i++) {
                    enhanceSection(main, main.@{QuestionCreate.sections}()[i], i);
                };

                // Create the computed Description Html from the raw
                main.@QuestionCreate.descriptionHtml = ko.computed(function () {
                    return ARTC.markdown("main", main.@{QuestionCreate.descriptionRaw}());
                }, main);

                main.descriptionInvalid = ko.computed(function () {
                    return main.@{QuestionCreate.descriptionRaw}() == "";
                });

                main.titleInvalid = ko.computed(function () {
                    return main.@{QuestionCreate.title}() == "";
                });

                main.invalid = ko.computed(function () {
                    return _.map(main.@{QuestionCreate.sections}(), function(a){return a.invalid();}).reduce(function(a,b){return a || b;}, (main.descriptionInvalid() || main.titleInvalid()) );
                });
            }


            // === Initialize View Model
            QE.initializeViewModel = function() {
                var data = @initialDataModel.getOrElse(Html("{ " +
                    QuestionCreate.title + """ : "", """ +
                    QuestionCreate.descriptionRaw + """ : "", """ +
                    QuestionCreate.descriptionHtml + """ : ARTC.markdown("main", ""), """ +
                    QuestionCreate.sections + """ : []""" +
                "}"))

                // Create the basic form
                var model = ko.mapping.fromJS(data);
                // Bootstrap by adding all functions etc
                enhanceMain(model);
                // Expose viewModel for debugging
                QE.viewModel = model;
                // then applying bindings
                ko.applyBindings(QE.viewModel, document.getElementById("question-editor"));
            }

            // === Exposed update method
            var clearSections = function() {
                QE.viewModel.@{QuestionCreate.sections}.removeAll();
            }

            QE.updateViewModel = function(data) {
                // Create the basic form
                var model = ko.mapping.fromJS(data);
                // Bootstrap by adding all functions etc
                enhanceMain(model);
                // Overlay new model ignoring computed observables
                var mapping = { 'ignore': ["invalid", "descriptionInvalid", "titleInvalid", "descriptionHtml", "explanationHtml", "summaryHtml", "functionMath"] };

                clearSections();

                ko.mapping.fromJS(model, mapping, QE.viewModel);
            }

            return QE;
        }();

        QE.initializeViewModel();
</script>
