@(action: play.api.mvc.Call, initialDataModel: Option[Html] = None)

@import helper._
@import com.artclod.play.FormEnhanced

<section id="question-editor">
    Build a question. When you are done hit "Save Question": <br>

    <div class="flexbox-container">
        <div class="flexbox-column"> Question Title: <input data-bind="value: description" /> </div>
        <div class="flexbox-column"> <span data-bind="html: artcMarkdown(description())"> </span> </div>
    </div>

    <div>
        <a href='#' data-bind='click: addSection '>Add Section</a>
    </div>

    <div data-bind="foreach: sections">
        <div class="section">
            <div class="flexbox-container">
                <div class="flexbox-column"> Section Descripton: <input data-bind="value: text" /> </div>
                <div class="flexbox-column"> <span data-bind="html: artcMarkdown(text())"> </span> </div>
            </div>

            <div>
                <a href='#' data-bind='click: removeThisSection '>Remove This Section</a>

                <input type="radio" value="choice"  data-bind="name: id, checked: choiceOrFunction" /> choice </input>
                <input type="radio" value="function" data-bind="name: id, checked: choiceOrFunction" /> function </input>

                <a href='#' data-bind='click: addChoice '>Add Choice</a>
                <a href='#' data-bind='click: addFunction '>Add Function</a>
            </div>

            <span data-bind="if: choiceOrFunction() === 'choice'">
                <div data-bind="foreach: choices">
                    <div class="flexbox-container">
                        <div class="flexbox-column">
                            Option Description: <input data-bind="value: text" />
                        </div>
                        <div class="flexbox-column">
                            <span data-bind="text: $parent.id"></span>
                            <span data-bind="text: id"></span>
                            <input type="radio" data-bind="name: $parent.id, value: $data.id, checked: $parent.correctChoice, text: $parent.id" />
                            <span data-bind="html: artcMarkdown(text())"> </span>
                        </div>
                    </div>
                </div>
            </span>

            <span data-bind="if: choiceOrFunction() === 'function'">
                <div data-bind="foreach: functions">
                    <div class="flexbox-container">
                        <div class="flexbox-column">
                            Function: <input data-bind="value: text" />
                        </div>
                        <div class="flexbox-column">
                            <span data-bind="text: $parent.id"></span>
                            <span data-bind="text: id"></span>
                            <span data-bind="attr: { 'id' : id}, text: id"> </span>
                        </div>

                    </div>
                </div>
            </span>

        </div>
    </div>

    <a href="javascript:printViewModel();"> Print View Model </a>
</section>

<script type="text/javascript">

        console.log("test");

        var renderMath = function(text, id) {
            console.log("update newValue=[" + text + "] id=[" + id + "]");
            var mathResult = ARTC.mathJS.defaultParser(text);
            console.log(mathResult);
            ARTC.mathJax.updateById(id, ARTC.mathJax.tex(mathResult.node.toTex()));
        }

        var artcMarkdown = function(text) {
            return "b" + text + "b";
        }

        var data = {
            description : "a question",
            sections : [
                {
                    id : "sec0",
                    text : "explanation 1",
                    choiceOrFunction : "choice",
                    correctChoice : null,
                    choices : [],
                    functions : []
                },
                {
                    id : "sec1",
                    text : "explanation 2",
                    choiceOrFunction : "choice",
                    correctChoice : null,
                    choices : [],
                    functions : []
                }
            ]
        }

        console.log(data);

        var viewModel = ko.mapping.fromJS(data);

        // Adds functions to the Section View Models
        addSectionFunctions = function(main, section) {
            var choiceIdGenerator = section.choices.length;
            var functionIdGenerator = section.functions.length;

            section.addChoice = function(){
                var choiceId = section.id()+"c"+(choiceIdGenerator++);
                var newChoice = ko.mapping.fromJS( { id : choiceId, text : "new choice " + choiceIdGenerator } );
                section.choices.push(newChoice);
            }

            section.addFunction = function(){
                var functionId = section.id()+"f"+(functionIdGenerator++);
                var newFunction = ko.mapping.fromJS( { id : functionId, text : "" + functionIdGenerator } );
                newFunction.text.subscribe(function(newValue){
                    renderMath(newValue, newFunction.id())
                });
                section.functions.push(newFunction);
            }

            section.removeThisSection = function() {
                main.sections.remove(function(s){ return s.id() === section.id();});
            }
        }

        // Adds functions to the Root View Model
        addMainFunctions = function(main){
            main.addSection = function() {
                var idGenerator = data.sections.length;
                var newSection = ko.mapping.fromJS(
                        {
                            id : "sec"+(idGenerator++),
                            text : "new section " + idGenerator,
                            choiceOrFunction : "choice",
                            correctChoice : null,
                            choices : [],
                            functions : []
                        } );
                addSectionFunctions(main, newSection);
                viewModel.sections.push(newSection);
            }
        }

        // Bootstrap by adding all functions then applying bindings
        addMainFunctions(viewModel)
        for (i = 0; i < viewModel.sections().length; i++) {
            addSectionFunctions(viewModel, viewModel.sections()[i]);
        }

        ko.applyBindings(viewModel, document.getElementById("question-editor"));

        var printViewModel = function(){
            console.log( ko.mapping.toJS(viewModel) );
        }
</script>
