@(action: play.api.mvc.Call, initialDataModel: Option[String] = None, mathJsParser: String = "ARTC.mathJS.defaultParser")(implicit request: Request[AnyContent])

@import helper._
@import controllers.quiz.QuestionCreate

<section id="question-editor">

    <h4> Build a question. When you are done hit "Save Question": </h4>

    <div class="question-header">

        <div class="item title-input"> Question Title: <input data-bind="textInput: @QuestionCreate.title" /> </div>
        <div class="item title-output"> <span data-bind="html: @QuestionCreate.title"> </span> </div>
        <div class="item description-input"> Question Description: <br> <textarea type="text" class="expanding" data-bind="textInput: @QuestionCreate.descriptionRaw"></textarea> </div>
        <div class="item description-output"> <span data-bind="html: @QuestionCreate.descriptionHtml"> </span> </div>
        <div class="item add-section"> <a href='#' data-bind='click: addSection' class="pure-button">Add Section</a> </div>


        <!-- ko foreach: @QuestionCreate.sections -->
        <div class="span-header question-section">
            <div class="item explanation-input"> Section Descripton: <input data-bind="value: @QuestionCreate.explanationRaw" /> </div>
            <div class="item explanation-output"> <span data-bind="html: @QuestionCreate.explanationHtml"> </span> </div>
            <div class="item section-controls">
                <a href='#' data-bind='click: removeThisSection' class="pure-button">Remove This Section</a>
                <input type="radio" value="choice"  data-bind="name: @QuestionCreate.id, checked: @QuestionCreate.choiceOrFunction" class="pure-radio" /> choice </input>
                <input type="radio" value="function" data-bind="name: @QuestionCreate.id, checked: @QuestionCreate.choiceOrFunction" class="pure-radio" /> function </input>
                <a href='#' data-bind='click: addChoice' class="pure-button">Add Choice</a>
                <a href='#' data-bind='click: addFunction' class="pure-button">Add Function</a>
            </div>

            <!-- ko if: @{QuestionCreate.choiceOrFunction}() == 'choice' -->
            <!-- ko foreach: @QuestionCreate.choices -->
            <div class="span-section question-choice">
                <div class="item summary-input"> Choice Summary: <input data-bind="value: @QuestionCreate.summaryRaw" /> </div>
                <div class="item summary-output"> <span data-bind="html: @QuestionCreate.summaryHtml"> </span> </div>
                <div class="item choice-correct"> <input type="radio" data-bind="name: $parent.@QuestionCreate.id, value: $index, checked: $parent.@QuestionCreate.correctChoiceIndex, text: $parent.@QuestionCreate.id"> Correct </input> </div>
                <div class="item choice-controls"> <a href='#' data-bind='click: removeThisPart' class="pure-button">Remove This Part</a> </div>
            </div>
            <!-- /ko -->
            <!-- /ko -->

            <!-- ko if: @{QuestionCreate.choiceOrFunction}() == 'function' -->
            <!-- ko foreach: @QuestionCreate.functions -->
            <div class="span-section question-function">
                <div class="item summary-input"> Function Summary: <input data-bind="value: @QuestionCreate.summaryRaw" /> </div>
                <div class="item summary-output"> <span data-bind="html: @QuestionCreate.summaryHtml"> </span> </div>
                <div class="item function-input"> Function func: <input data-bind="value: @QuestionCreate.functionRaw" /> </div>
                <div class="item function-output"><span data-bind="attr: { 'id' : @QuestionCreate.id}, text: @QuestionCreate.id"> </span> </div>
                <div class="item function-controls"><a href='#' data-bind='click: removeThisPart' class="pure-button">Remove This Part</a> </div>
            </div>
            <!-- /ko -->
            <!-- /ko -->

        </div>
        <!-- /ko -->


    </div>

    @form(action, 'id -> "questionJsonForm", 'class -> "pure-form") {
        <fieldset>
            <input type="hidden" name="@QuestionCreate.questionJson" id="questionJson">
            <input type="button" class="pure-button" value="Save Question" onclick="questionJsonFormSubmit()">
            @views.html.helper.CSRF.formField
        </fieldset>
    }
    <script>
        questionJsonFormSubmit = function() {
            $("#questionJson").val(ko.mapping.toJSON(viewModel));
            $("#questionJsonForm").submit();
        }
    </script>
</section>

<script type="text/javascript">
        var QE = function() { // The Question Editor Knockoutjs support Module
            // ============ Choice Part Enhancement ============
            var choicePartId = function (section, num) {
                return section.@QuestionCreate.id + "c" + num;
            }

            var enhanceChoicePart = function (section, part, num) {
                part.@QuestionCreate.id = choicePartId(section, num); // Note here we overwrite the id

                // Overwrite/Bind the html summary
                part.@QuestionCreate.summaryHtml = ko.computed(function () {
                    return ARTC.markdown(part.@{QuestionCreate.summaryRaw}());
                }, part);

                // Remove this part
                part.removeThisPart = function () {
                    var parts = section.@{QuestionCreate.choices};
                    parts.remove(function (p) {
                        return p.id === part.id;
                    });
                }
            }

            // ============ Function Part Enhancement ============
            var functionPartId = function (section, num) {
                return section.@QuestionCreate.id + "f" + num;
            }

            var enhanceFunctionPart = function (section, part, num) {
                part.@QuestionCreate.id = functionPartId(section, num); // Note here we overwrite the id

                // Overwrite/Bind the html summary
                part.@QuestionCreate.summaryHtml = ko.computed(function () {
                    return ARTC.markdown(part.@{QuestionCreate.summaryRaw}());
                }, part);

                // Update the math display & value
                var func = part.@{QuestionCreate.functionRaw};
                func.subscribe(function (newValue) {
                    var mathResult = @{mathJsParser}(newValue);
                    ARTC.mathJax.updateById(part.@QuestionCreate.id, ARTC.mathJax.tex(mathResult.node.toTex()));
                    part.@{QuestionCreate.functionMath}(mathResult.content);
                });

                // Remove this part
                part.removeThisPart = function () {
                    var parts = section.@{QuestionCreate.functions};
                    parts.remove(function (p) {
                        return p.id === part.id;
                    });
                }
            }

            // ============ Section Enhancement ============
            var sectionId = function (num) {
                return "sec" + (num);
            }

            // Adds functions etc to a Section View Model
            var enhanceSection = function (main, section, num) {
                var choiceIdGenerator = section.@{QuestionCreate.choices}.length;
                var functionIdGenerator = section.@{QuestionCreate.functions}.length;

                // Set the id for consistency
                section.@QuestionCreate.id = sectionId(num); // Note here we overwrite the id

                // Overwrite/Bind the html explanation
                section.@QuestionCreate.explanationHtml = ko.computed(function () {
                    return ARTC.markdown(section.@{QuestionCreate.explanationRaw}());
                }, section);

                // --- Choice Part ----
                // Update any existing Choice Parts (ie make sure they are enhanced)
                for (var i = 0; i < section.@{QuestionCreate.choices}().length; i++) {
                    enhanceChoicePart(section, section.@{QuestionCreate.choices}()[i], i);
                }

                // add new choice function
                section.addChoice = function () {
                    var choiceId = choicePartId(section, choiceIdGenerator++);

                    var newChoice = ko.mapping.fromJS({
                        @* @QuestionCreate.id          : choiceId,*@
                        @QuestionCreate.summaryRaw  : "new choice " + choiceIdGenerator,
                        @QuestionCreate.summaryHtml : ARTC.markdown("new choice " + choiceIdGenerator)
                    } );

                    enhanceChoicePart(section, newChoice, choiceIdGenerator);

                    var chs = section.@{QuestionCreate.choices};
                    chs.push(newChoice);
                }
                // -----------------------

                // --- Function Part ----
                // Update any existing Function Parts (ie make sure they are enhanced)
                for (var i = 0; i < section.@{QuestionCreate.functions}().length; i++) {
                    enhanceFunctionPart(section, section.@{QuestionCreate.functions}()[i], i);
                }

                section.addFunction = function () {
                    var functionId = functionPartId(section, functionIdGenerator++);
                    var newFunction = ko.mapping.fromJS({
                        @* @QuestionCreate.id           : functionId,*@
                        @QuestionCreate.summaryRaw   : "new function " + functionIdGenerator,
                        @QuestionCreate.summaryHtml  : ARTC.markdown("new function " + functionIdGenerator),
                        @QuestionCreate.functionRaw  : "",
                        @QuestionCreate.functionMath : ""
                    } );

                    enhanceFunctionPart(section, newFunction, functionIdGenerator);

                    var funcs = section.@{QuestionCreate.functions};
                    funcs.push(newFunction);
                }
                // -----------------------

                // Remove this section
                section.removeThisSection = function () {
                    var secs = main.@{QuestionCreate.sections};
                    secs.remove(function (s) {
                        return s.id === section.id;
                    });
                }
            }

            // ============ Root Enhancement ============
            // Adds functions to the Root of the Question View Model
            var enhanceMain = function (main) {
                // Each sections needs a unique id
                var idGenerator = main.@{QuestionCreate.sections}.length;

                // Create the computed Description Html from the raw
                main.@QuestionCreate.descriptionHtml = ko.computed(function () {
                    return ARTC.markdown(main.@{QuestionCreate.descriptionRaw}());
                }, main);

                // Update any existing Sections
                for (var i = 0; i < main.@{QuestionCreate.sections}().length; i++) {
                    enhanceSection(main, main.@{QuestionCreate.sections}()[i], i);
                }

                // Function to create a new section
                main.addSection = function () {
                    var secId = sectionId(idGenerator++);
                    var newSection = ko.mapping.fromJS({
                        @* @QuestionCreate.id                 : secId, // Note this is also set in enhanceSection*@
                        @QuestionCreate.explanationRaw     : "new section " + idGenerator,
                        @QuestionCreate.explanationHtml    : ARTC.markdown("new section " + idGenerator),
                        @QuestionCreate.choiceOrFunction   : "choice",
                        @QuestionCreate.correctChoiceIndex : 0,
                        @QuestionCreate.choices            : [],
                        @QuestionCreate.functions          : []
                    });
                    enhanceSection(main, newSection, idGenerator);
                    var secs = viewModel.@{QuestionCreate.sections}
                    secs.push(newSection);
                }
           }

            var QE = {};
            QE.enhanceMain = enhanceMain;
            return QE;
        }();

        var dataOld = @initialDataModel.getOrElse(Html("""{
            title : "",
            descriptionRaw : "",
            descriptionHtml : ARTC.markdown(""),
            sections : []
        }"""))

        var data = @initialDataModel.getOrElse(Html("{ " +
            QuestionCreate.title +           """ : "", """ +
            QuestionCreate.descriptionRaw +  """ : "", """ +
            QuestionCreate.descriptionHtml + """ : ARTC.markdown(""), """ +
            "sections : []" +
        "}"))

        var viewModel = ko.mapping.fromJS(data);

        // Bootstrap by adding all functions etc
        QE.enhanceMain(viewModel);

        // then applying bindings
        ko.applyBindings(viewModel, document.getElementById("question-editor"));
</script>
